<div class='bg-white'>
    <div class='overflow-hidden'>
        <img class='hover:scale-110 hover:transition-all hover:duration-700 ease-in-out' src='/images/test.jpg'>
    </div>
    <div class='w-3/4 mx-auto p-6'>
        <div class='mb-8'>
            <h1>
                Hayatta Kalmaya Çalışan Bir Adamla Nazik Bir Kozalağın Hikayesi
            </h1>
        </div>
        <div>
            <h4>
                Claire Campbell'ın "Winter’s Blight" adlı stop-motion filmi, hayatta kalmak için aile yadigarı bir ağacı
                kesmeye karar veren adamın ve ona engel olmaya çalışan kozalağın hikayesini konu alıyor.
            </h4>
        </div>
    </div>
</div>