<!DOCTYPE html>
<html lang="en" class='w-full'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/dist/styles.css'>
    <title>AhoPanel</title>
</head>

<body class='w-full'>
    <div class='w-full bg-gradient-to-r from-red-500 via-gray-600 to-blue-500'>
        <div>
            <a href='/ahoPanel/create/blog'>Add a blog</a>
            <a href='/'>Main Page</a>
        </div>
    </div>
</body>

</html>