<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/dist/styles.css'>
    <title>Create Blog</title>
</head>

<body>
    <form method='POST' enctype='multipart/form-data' action='/ahoPanel/create/blog'>
        <div class='text-3xl'>
            <div>
                <label for='blogTitle' class='block text-center m-6 border-b-4 border-indigo-300'>Blog Title:</label>
                <textarea rows='4' cols='50' name='blogTitle' id='blogTitle'
                    class='block w-1/3 mx-auto border-2 border-rhino-900 rounded-md'></textarea>
            </div>
            <div>
                <label for='blogSummary' class='block text-center m-6'>Blog Summary:</label>
                <textarea rows='4' cols='50' name='blogSummary' id='blogSummary'
                    class='block w-1/3 mx-auto border-2 border-rhino-900'></textarea>
            </div>
            <div>
                <label for='blogContent' class='block text-center m-6'>Blog Content:</label>
                <textarea rows='4' cols='50' name='blogContent' id='blogContent'
                    class='block w-1/3 mx-auto border-2 border-rhino-900'></textarea>
            </div>
            <div>
                <label for='blogImage' class='block text-center m-6'>Blog Image:</label>
                <input type='file' name='blogImage' id='blogImage'
                    class='block w-1/3 mx-auto border-2 border-rhino-900'></input>
            </div>
            <div>
                <input class='block w-1/4 mx-auto m-6 text-yellow-500 bg-cyan-500 rounded-md' type='submit' value='Save'>
            </div>
        </div>>
    </form>
</body>

</html>