<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/dist/styles.css">
</head>

<body class='bg-gray-800'>
    <div class='w-5/6 mx-auto'>
        <div>
            <div class='text-3xl mt-5 sm:h-20 sm:mt-5 sm:text-5xl text-yellow-200 font-extrabold text-center'>
                <%=data.blogTitle%>$
            </div>
            <div class='text-2xl mt-5 font-light sm:text-4xl text-red-300 text-left'>
                <%=data.blogContent%>
            </div>
        </div>
    </div>
</body>

</html>