<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel='stylesheet' href='/dist/styles.css'>
  <title>Admin Login</title>
</head>

<style>
  html {
    height: 100%;
  }
</style>

<body>

  <div class='absolute top-6 -right-0 text-blue-100 hidden bg-gray-900'></div>
  <div class='font-extrabold font-normal text-2xl mt-5 sm:text-5xl text-red-700'></div>
  <a href='' class='btn text-3xl mt-5 sm:h-20 sm:mt-5 sm:text-5xl text-2xl mt-5 sm:text-4xl text-rhino-700 text-yellow-900 text-cyan-900 text-red-700 cursor-pointer m-7 absolute top-8 sm:top-12  p-0.5 sm:p-2 rounded-2xl right-0 text-5xl sm:text-3xl'><i class="fad fa-times-circle text-red-900 bg-yellow-600 text-green-600 bg-black "></i></a>
  <div class='text-3xl mt-5 sm:h-20 sm:mt-5 sm:text-5xl text-yellow-200 font-extrabold text-center'></div>
  <div class="text-2xl mt-5 font-light sm:text-4xl text-red-300 text-left bg-gray-800"></div>



</body>

</html>